<div class="row form_style">
	<div class="span5 offset3">
		<h1><%= t :signin %></h1>
		<%= form_for(:session, url: sessions_path) do |f| %>

		<%= field_set_tag '' do %>
		<%= f.label :email,"#{t :email}" %>
		<%= f.text_field :email %>

		<%= f.label :password, "#{t :password}" %>
		<%= f.password_field :password %>

		<%= f.submit "#{t :btn_signin}", class: "btn btn-mini" %>
		<% end %>
		<%end%>
		<p>
			<%= link_to "forgotten password?", new_password_reset_path %>
		</p>
		<div class="field">
			<%= check_box_tag :remember_me, 1, params[:remember_me] %>
			<%= label_tag :remember_me %>
		</div>

		<p>
			<%= t :new_user%>? <%= link_to "#{t :sign_up_now}" , signup_path %>
		</p>
	</div>
</div>
