<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
<% if @user.errors.any? %>
<div class="error_messages">
	<%= render 'shared/error_messages', object: f.object %>
</div>
<% end %>
<div class="field form_style">
	<%= f.label :password %>
	<%= f.password_field :password %>
</div>
<div class="field">
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>
</div>
<div class="actions">
	<%= f.submit "Update Password", :class =>"btn btn-small" %>
</div>
<% end %>