<h1>PasswordResets</h1>

<%= form_tag password_resets_path, :method => :post do %>
  <div class="field form_style">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <%= submit_tag "Reset Password",:id => "btn_reset_password",:class => "actions btn btn-small" %>
<% end %>

<script>
	
$(document).ready(function() { 
 
  $('#btn_reset_password').click(function() {  
 
    $(".error").hide();
    var hasError = false;
    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    var emailblockReg =
     /^([\w-\.]+@(?!gmail.com)(?!yahoo.com)(?!hotmail.com)([\w-]+\.)+[\w-]{2,4})?$/;
 
    var emailaddressVal = $("#email").val();
    if(emailaddressVal == '') {
      $("#email").after('<span style="color:red;" class="error">Merci de Saisir une adresse mail.</span>');
      hasError = true;
    }
 
    else if(!emailReg.test(emailaddressVal)) {
      $("#email").after('<span style="color:red;" class="error">Merci de saisir une adresse mail valide.</span>');
      hasError = true;
    }
 
    else if(!emailblockReg.test(emailaddressVal)) {
      $("#email").after('<span class="error">No yahoo, gmail or hotmail emails.</span>');
      hasError = true
    } 
 
    if(hasError == true) { return false; }
 
    });
});

</script>
