<h1>Commandes Passés</h1>

<%= form_tag(orders_by_date_order_path) %>
<p>
	<%= label_tag :start_date %>
	<%= text_field_tag :start_date %>

	<%= label_tag :end_date %>
	<%= text_field_tag :end_date %>

</p>
<%= submit_tag "valider", :class=>"btn btn-small" %>

<script>
	$(function() {
		$('#start_date, #end_date').datepicker();
	});

</script>
