<h2>Bienvenue <%= current_user.nom %></h2>

<h4>A la date du <%= Time.now.strftime("%d/%m/%Y à %H: %M")  %></h4>
<p class="info">
	Nous avons enregistré <%= pluralize(@total_orders, "Commande") %> au total dont <%= @total_orders_from_1_days %> dépuis 2 jours.
</p>

<div class="listing_admin">

	<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> Commandes Passés </a>
			</div>
			<div id="collapseOne" class="accordion-body collapse in">
				<div class="accordion-inner">
					<div class="">
						<%= form_tag(by_date_orders_path, remote: true) %>
						<table>
							<tr>
								<td> <%= label_tag :start_date, "Date de début"  %>
								<%= text_field_tag :start_date%> </td>
								<td> <%= label_tag :end_date , "Date de fin" %>
								<%= text_field_tag :end_date %> </td>
								<td> <%= submit_tag "valider", :class=>"btn btn-small", :id=>"btn_date_start_end"  %>
								<button type="button" class="btn btn-small" data-toggle="collapse" data-target="#orders_by_date">

									Afficher le résultat

								</button></td>
							</tr>
						</table>

						<script>
							$(document).ready(function() {

								$('#btn_date_start_end').click(function() {

									$(".error").hide();
									var hasError = false;
									var dateReg = /^[0-9]{2}[/]{1}[0-9]{2}[/]{1}[0-9]{4}$","g"/;

									var start_dateVal = $("#start_date").val();
									if (start_dateVal == '') {
										$("#start_date").after('<span class="error">svp saisissez une date de début.</span>');
										hasError = true;
									} else if (dateReg.test(start_dateVal)) {
										$("#start_date").after('<span class="error">svp saisissez une date de début valide.</span>');
										hasError = true;
									}

									var end_dateVal = $("#end_date").val();
									if (end_dateVal == '') {
										$("#end_date").after('<span class="error">svp saisissez une date de fin.</span>');
										hasError = true;
									} else if (dateReg.test(end_dateVal)) {
										$("#end_date").after('<span class="error">svp saisissez une date de fin valide.</span>');
										hasError = true;
									}

									if (hasError == true) {
										return false;
									}

								});
							});

							$(function() {
								$('#start_date, #end_date').datepicker();
							});

						</script>
					</div>

					<div id="orders_by_date" class="collapse in">
						<%= render 'orders/orders_by_date'%>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#collapseTwoProduit" href="#collapseTwoProduit"> </a>

				<%= link_to products_path,
				data: {toggle: 'collapse', remote: true, target: "#collapseTwoProduit"}, :id =>"collapseTwoProduit_link"  do %>
				Les Produits
				<%end%>

			</div>
			<div id="collapseTwoProduit" class="accordion-body collapse">
				<div class="accordion-inner">

							<%= render "products/index" %>

				</div>
			</div>
		</div>

		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#collapseCategorie" href="#collapseCategorie"> Catégories </a>
			</div>
			<div id="collapseCategorie" class="accordion-body collapse">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>

	</div>

</div>
