<body style="background: #efe;">

	<h3>Bonjour <%= @order.name %></h3>

	<p style="font-weight: bold">
		Nous vous remercions pour votre récente commande passée dans la boutique myShop.fr.
		<br />

		Vous avez commandé les articles suivants :
		<br />
	</p>

	<table style="border: 1px dotted #77d; background: white; ">
		<thead>
			<tr style="border: 2px;">
				<th>Quantité</th>
				<th>Produit</th>
				<th>Description</th>
				<th>Prix</th>

			</tr>
		</thead>

		<% @order.line_items.each do |line_item|  %>

		<tr class="entry" style="border: 2px;">
			<td><%= line_item.quantity %>&times;</td>
			<td><h3><%= link_to line_item.product.title, store_path %></h3></td>
			<td style="
			width: 50px;
			height: 80px;
			margin-right: 5px;
			margin-bottom: 5px;

			"><%= truncate(line_item.product.description, :lengh => 400) %></td>
			<td><a href="<%= store_path %>"> <%= image_tag attachments["#{line_item.product.image_url}"].url %></a></td>
			<td  class="price" style="
			color: #44a;
			font-weight: bold;
			margin-right: 3em;
			"><%= number_to_currency(line_item.total_price, :unit =>"€ ") %></td>
		</tr>
		<% end %>
		<tr></tr>
		<tr></tr>
		<tr style="border: 2px;">
			<th colspan="3" class="text-center"> Total </th>

			<th style="
			color: #44a;
			font-weight: bold;
			margin-right: 3em;
			background: #efe;
			"><%= number_to_currency(@order.line_items.map(&:total_price).sum, unit: '€') %></th>
		</tr>

	</table>
	<br />

	<p style="font-weight: bold">
		<br />
		Nous vous enverons un E-mail dès que votre commande sera envoyé.
		<br/>

		Coardialement!

	</p>
</body>