<h3>mySHop | Commande envoyé</h3>
<p>
	This is just to let you know that we've shipped your recent order:
	Ce mail, c'est juste pour vous confirmer que vôtre commande cidessous à été envoyé
	à l'adresse:

	<table>
		<tr>
			<td> Nom: <%= render @order.name %> </td>
			<td>Prénom : <%= render @order.last_name %></td>
		</tr>
		<tr>
			<td> Adresse: <%= render @order.adress %></td>

			<td>Ville <%= order.city %></td>
			<td> Code Postale : <%= order.code_postal %></td>

		</tr>
		<tr>
			<td>Moyen de Payment utilisé : <%= order.pay_type %></td
		</tr>
	</table>

	Cordialement!
</p>
<table>
	<tr>
		<th colspan="2">Qty</th><th>Description</th>
	</tr>
	<% @order.line_items.each do |line_item|  %>
<tr>
	<td><%= line_item.quantity %>&times;</td>
	<td><%= line_item.product.title %></td>
	<td<%= line_item.product.description %></td>
	<td <%= image_tag(line_item.product.image_url) %></td>
	<td<%= number_to_currency(line_item.total_price, :unit =>"€ ") %></td>
</tr>
<% end %>
</table>