<h3>mySHop Shipped</h3>
<p>
	This is just to let you know that we've shipped your recent order:
</p>
<table>
	<tr>
		<th colspan="2">Qty</th><th>Description</th>
	</tr>
	<%= render @order.line_items %>
</table>