<li>
	<a href="<%= user_path(user) %>"> <%= gravatar_for user, size: 52 %> </a>
	<%= link_to user.nom, user %>
	<p>
		<%= user.email %>

		<% if current_user.admin? && !current_user?(user)%>
		| <%= link_to "#{t :delete}", user, method: :delete,
		data: { confirm: "#{t :delete_confirmation}" } %>
		| <%= link_to "#{t :edit}", edit_profile_user_path(user) %>

		<% end %>
	</p>
</li>

<%
 #label_tag :admin, "Admin?"
  #check_box_tag :admin, user.admin, user.admin
%>
