<% provide(:title, "Edit user") %> <h1><%= t :update_profile %></h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user, metod: :post, action: :update_profile) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :nom %>
		<%= f.text_field :nom %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation %>
		
		<%= f.submit "#{t :btn_save_change}", class: "btn btn-large btn-primary" %>

		
		<% end %>

		<%= gravatar_for @user %>
		<a href="http://gravatar.com/emails">change</a>
	</div>

</div>
