<h1><%= t :signup %></h1>

<div class="row form_style">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :nom %>
		<%= f.text_field :nom %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation %>

		<%= f.submit "#{t :btn_signup}", class: "btn btn-small" %>
		<% end %>
	</div>
</div>