<div class="row">
	<aside class="span4">
		<section>
			<a href="<%= user_path(@user) %>"> <%= gravatar_for @user, size: 52 %> </a>
			<h1><%= @user.nom %></h1>
			<span><%= link_to "#{t :view_my_profile}", @user %></span>
			<span><b>Microposts:</b> <%= @user.microposts.count %></span>
		</section>
		<section>
			<%= render 'shared/stats' %>
			<% if @users_sidebar.any? %>
			<div class="user_avatars">
				<% @users_sidebar.each do |user| %>
				<%= link_to gravatar_for(user, size: 30), user, title: user.nom  %>
				<% end %>
			</div>
			<%= will_paginate(@users_sidebar, :param_name => 'users_sidebar_page', :page_links => false) %>
			<% end %>
		</section>
	</aside>
	<div class="span8">
		<h3><%= @titre %></h3>
		<% if @users.any? %>
		<ul class="users">
			<%= render @users %>
		</ul>
		<%= will_paginate(@users, :param_name => 'users_page')%>
		<% end %>
	</div>
</div>