<%
 # object: f.object creates a variable called object in the error_messages partial.
 # We can use this object to construct a customized error message
%>
<% if object.errors.any? %>
<div id="error_explanation">
	<div class="alert alert-error">
		<% if object.errors.count > 1 %>
		<%= t :sign_up_form_errors, :count => object.errors.count %>
		<% else %>
		<%= t :sign_up_form_error, :count => object.errors.count %>
		<% end%>
		<!-- , :count => @user.errors.count -->
	</div>
	<p>
		<% if object.errors.count > 1 %>
		<%= t :sign_up_form_more_errors_message %>
		<% else %>
		<%= t :sign_up_form_one_error_message %>
		<% end%>
		<%
		# pluralize(@user.errors.count, 'this') 
		%>
	</p>
	<ul>
		<% object.errors.full_messages.each do |msg| %>
		<li>
			* <%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>