<li id="<%= feed_item.id %>">
	<%= link_to gravatar_for(feed_item.user), feed_item.user %>
	<span class="user"> <%= link_to feed_item.user.nom, feed_item.user %> </span>
	<span class="content"><%= feed_item.content %></span>
	<span class="timestamp"> <%= "#{t :posted} #{time_ago_in_words(feed_item.created_at)} #{t :ago}..."%></span>
	<% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "#{t :delete_confirmation}" },
                                     title: feed_item.content,
                                     remote: true,
                                     :class => 'delete_feed_item' %>
  <% end %>
</li>