<%= form_for(@micropost) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
	<%= f.text_area :content, placeholder: "#{t :compose_post}" %>
</div>
<%= f.submit "#{t :post}", class: "btn btn-large btn-primary" %>
<% end %>