<li id="<%= product_item.id %>">
	<%= link_to image_tag(product_item.image_url) ,user_path( product_item.user) %>
	<span class="user"> <%= link_to product_item.user.nom, user_path( product_item.user) %> </span>
	<span class="content"><%= product_item.title %></span>
	<span class="content"><%= truncate(product_item.description, length: 100) %></span>
	<span class="timestamp"> Price :<span class="label label-info"><%= product_item.price %> </span> | Ctaegory <span class="label label-info"><%= product_item.category.name %></span> | <%= link_to "lien vers ..", product_path(product_item)%></span>
	<span class="timestamp"> <%= "#{t :posted} #{time_ago_in_words(product_item.created_at)} #{t :ago}..."%></span>

	<% if current_user?(product_item.user_id) %>
	<%= link_to "delete", feed_item, method: :delete,
	data: { confirm: "#{t :delete_confirmation}" },
	title: feed_item.content,
	remote: true,
	:class => 'delete_feed_item' %>
	<% end %>
</li>