<h4> <%= t :search_result %> (Products)</h4>

<% unless @products.nil? %>
<table class="table table-striped table-bordered table-hover">

	<thead>
		<th> Image </th>
		<th> Description </th>
		<th> Prix </th>
		<th class="hidden-phone"> Catégorie </th>
		<th> Actuellement </th>

	</thead>
	<%if signed_in? %>
	<tfoot>

		<td colspan="4">
		<p>

			<div  class="offset3 hidden-desktop">
				<%= will_paginate @products, :page_links => false  %>
			</div>
		</p>
		<p>

			<div class="offset2 hidden-phone" >
				<%= will_paginate @products %>
			</div>
		</p></td>

	</tfoot>
	<%end%>
	<tbody>
		<%= render @products %>
	</tbody>

</table>

<%end%>