<div class="row">
	<aside class="span3">
	</aside>
	<div class="span5">
		
		<h4> <%= t :search_result %> (Users)</h4>
		<ul class="users">
			<%= render @users unless @users.nil? %>
		</ul>

	</div>
</div>