<%
# si @user est différent de nil nous sommes dans la page de profile sinon 
# on lui affecte la valeur de l'utlisateur courant car ça signifie que nous somme dans la page de home
%>

<% @user ||= current_user %>
<div class="stats">
	<a href="<%= following_user_path(@user) %>"> 
		<strong id="following" class="stat"> 
			<%= @user.followed_users.count %> 
		</strong> following 
	</a>
	<a href="<%= followers_user_path(@user) %>"> 

		<strong id="followers" class="stat"> 
			<%= @user.followers.count %> 
		</strong> followers 
	</a>
</div>
