<div id="user_info">
<a href="<%= user_path(current_user) %>"> <%= gravatar_for current_user, size: 52 %> </a>
<h1> <%= current_user.nom %> </h1>
<span> <%= link_to "#{t :view_my_profile}", current_user %> </span>
<span> <%= pluralize(current_user.microposts.count, "micropost") %> </span>
</div>