<%= form_for(@order) do |f| %>
<p>
	<%= render 'shared/error_messages', object: f.object %>
</p>


<div class="field">
	<%= f.label :name, "Nom" %>
	<br>
	<%= f.text_field :name, size: 40 %>
</div>
<div class="field">
	<%= f.label :last_name, "Prénom" %>
	<br>
	<%= f.text_field :last_name, size: 40 %>
</div>
<div class="field">
	<%= f.label :address %>
	<br>
	<%= f.text_area :address, rows: 2, cols: 40 %>
</div>

<div class="field pull-right span3">
	<%= f.label :code_postal, "Code Postal" %>
	<br>
	<%= f.text_field :code_postal,:size => 5%>
</div>
<br />

<div class="field span8">
	<%= f.label :city, "Ville" %>
	<br>
	<%= f.text_field :city %>
</div>

<div class="field span12">
	<%= f.label :email %>
	<br>
	<%= f.email_field :email, size: 40 %>
</div>
<div class="field span12">
	<%= f.label :email_confirmation %>
	<br>
	<%= f.email_field :email_confirmation, size: 40 %>
</div>
<div class="field">
	<%= f.label :pay_type, "Type de Payement" %>
	<br>
	<%= f.select :pay_type, Order::PAYMENT_TYPES,
	prompt: 'Choisir un moyen de payement' %>
</div>
<!-- Select a payment method -->
<br />
<div class="actions field">
	<%= f.submit 'Valider', :class => "btn" %>
</div>

<%end%>
