<div class="depot_form form_style">
	<div class="row">
		<div class="span6 offset3">
			<h4> Merci de remplir ce formulaire!</h4>
			<fieldset>
			<legend>
			</legend>
			<%= render 'form' %>
		</fieldset>
		</div>
	</div>
</div>
