<h2>Listing Des Commandes du <<%= @start_date %>> au <<%= @end_date%>></h2>

<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Ville</th>
			<th>Email</th>
			<th>Address</th>
			<th>Pay type</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td> Nom </td>
			<td> Prénom </td>
			<td> Ville </td>
			<td> Email </td>
			<td> Address </td>
			<td> Pay type </td>
			<td>Actions</td>
		</tr>

	</tfoot>
	<tbody>
		<% unless @orders_by_date.nil? %>
		<% @orders_by_date.each do |order| %>
		<tr>
			<td><%= order.name %></td>
			<td><%= order.last_name %></td>
			<td><%= order.city %></td>
			<td><%= order.email %></td>
			<td><%= order.address %></td>
			<td><%= order.pay_type %></td>
			<td><%= link_to 'Voir', order %>| <%= link_to 'Modifier', edit_order_path(order) %>|<%= link_to 'Supprimer', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		
		<% end %>
		<%end%>
	</tbody>

</table>

<br>
<p class="span4 offset3">
	<% unless @orders_by_date.nil? %>
	<%= will_paginate @orders_by_date %>
	<%end%>
</p>
