<div class="depot_form form_style">
	<div class="row">
		<div class="span6 offset3">
			<h4>Formulaire de modification!</h4>
			<fieldset>
				<legend></legend>
				<%= render 'form' %>
			</fieldset>
			<%= link_to "#{t :show}", @order %> |
			<%= link_to "#{t :back}", orders_path %>
		</div>
	</div>
</div>

