<h1>Listing Des Commandes</h1>

<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Ville</th>
			<th>Email</th>
			<th>Address</th>
			<th>Email</th>
			<th>Pay type</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td>
				Nom
			</td>
			<td>
				Prénom
			</td>
			<td>
				Ville
			</td>
			<td>
				Email
			</td>
			<td>
				Address
			</td>
			<td>
				Email
			</td>
			<td>
				Pay type
			</td>
		</tr>
	</tfoot>
	<tbody>
		<%if !@orders.blank? %>
		<% @orders.each do |order| %>
		<tr>
			<td><%= order.name %></td>
			<td><%= order.last_name %></td>
			<td><%= order.city %></td>
			<td><%= order.email %></td>
			<td><%= order.address %></td>
			<td><%= order.pay_type %></td>
			<td><%= link_to 'Voir', order %>| 
				<%if current_user.admin %><%= link_to 'Modifier', edit_order_path(order) %>|<%= link_to 'Supprimer', order, method: :delete, data: { confirm: 'Are you sure?' } %> <%end%></td>
		</tr>
		<% end %>
		<%end%>

	</tbody>
</table>

<%= 
#link_to "#{t :new_order}", new_order_path 
%>

<p class="offset3">
	<%= will_paginate @orders unless @orders.blank? %>
</p>
<br>
