<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<h2><%= "Commande ref: #{@order.id}"%></h2>

<h5> <%= "Envoyé à l'adreese:  #{@order.address}"  %> </h5>

<table class="table table-striped table-bordered table-hover">
	<tr>
		<th> N°</th>
		<th> Produit </th>
		<th> Quantité </th>
		<th> Categorie </th>
		<th> Prix Unit. </th>
	</tr>
	<% i=0%>
	<% @order.line_items.each do |item| %>

	<tr>
		<td><%= i+=1 %></td>
		<td> <%= item.product.title %> </td>
		<td> <%= item.quantity %> </td>
		<td> <%= item.product.category.name %> </td>
		<td> <%= number_to_currency(item.product.price, :unit => '€') %> </td>
	</tr>
	<%end%>
	<tr>
		<th></th>
		<th colspan="3" class="text-center"> Total </th>

		<th><%= number_to_currency(@order.line_items.map(&:total_price).sum, unit: '€') %></th>
	</tr>

</table>
<table>
	<tr>
		<td> <%= "Moyen de Payement: #{@order.pay_type}" %> </td><td> Par :</td> 
	</tr>
	<tr>
<td>Nom: <%= @order.name %></td> <td>Prénom: <%= @order.last_name %></td> <td>Email: <%= @order.email %></td>
	</tr>
	
</table>


<%= link_to "#{t :edit}", edit_order_path(@order) %> |
<%= link_to "#{t :back}", orders_path %>
