<h1>À Propos du site?</h1>

<p>
	<a href="#">L'application myShop Web-App </a>
	est un projet de site web réalisé dans un but purement académique.<a href="#">(Uvhc)</a>.Le principe du projet est de permettre à des utilisateurs
	<br>
	lambda pas focement professionnels, de pouvoir se mettre en relations les uns avec les autres et à l'occasion de mettre en ligne des produits
	<br />
	neufs ou d'occasions qu'ils souhaietront vendre ou échanger avec un équivalent le tout gratuitement.
</p>
