<!--Body content-->
<h2>Aide</h2>
<p>
	Pour obtenir de l'aide sur cette Application Exemple, voyez le
	<a href="#">La rebrique dédiée à cet éffet</a>.
</p>

<div class="accordion" id="accordion2help">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2help" href="#collapseOneHelp"> principe d'utilisation de myShop Web-App </a>
		</div>
		<div id="collapseOneHelp" class="accordion-body collapse in">
			<div class="accordion-inner">
				Obtenez de l'aide sur le principe d'utilisation et la philosophie de myShop sur la
				<a href="#">page d'aide du site</a>.
				<br/>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2help" href="#collapseTwoHelp"> Pour Qui ce Site est destiné? </a>
		</div>
		<div id="collapseTwoHelp" class="accordion-body collapse">
			<div class="accordion-inner">
				...!
			</div>
		</div>
	</div>
</div>
