<% if signed_in? %>
<div class="row">
	<aside class="span3">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
			<%= render 'shared/micropost_form' %>
		</section>
	</aside>

	<div class="tabbable span8">
		<!-- Only required for left/right tabs -->
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#tab1" data-toggle="tab">Feed </a>
			</li>
			<li>
				<a href="#tab2" data-toggle="tab">mShop-Product-Feed</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab1">
				<div class="span5">
					<h3>Micropost Feed</h3>
					<%= render 'shared/feed' %>
				</div>

			</div>

			<div class="tab-pane" id="tab2">
				<h3>Product Feed</h3>
				<%= render 'shared/feed_product' %>
				<p>

				</p>
			</div>

		</div>

	</div>
</div>

</div>
</div>
<% else %>
<div class="center hero-unit">
	<h1>myShop Web-App</h1>
	<p>
		#WelcomeToMyShopWeb-App &raquo;
		&copy;<a href="mailto:ismo1@live.fr?subject=feedback_from_myShop">ismo1</a>
	</p>

	<%= link_to "S'inscrire!", signup_path, :class => "signup_button round btn-large btn-success"  %>

	<% end %>
</div>

<footer>
	<p>
		<span class="pull-right"> En partenariat avec Adopt'1Coloc'</span>
	</p>
</footer>