<div class="row">
	<aside class="span3">
	</aside>
	<div class="span5">
		
		<h1> <%= t :search_result %></h1>
		<%= 
		#render "shared/search_product"
		 %> 
		 <% if signed_in? %>
		<%= render "shared/search_user" %> 
		<% end %>
		<!--He re we call render not on a string with the name of a partial,
		but rather on a user variable of class User;
		in this context, Rails automatically looks for a partial called _user.html.erb,
		which we must create  -->
		<%
 #@users.each do |user|
      #render user
      #end

      ##this is equivalent for
      # render @users
%>


	</div>
</div>

<%= render "shared/search_product" %> 