<div id="cart_affichage">
<% if cart.line_items.empty? %> <h2><%= t :cart_empty %></h2>
<%else%>
<h2>Votre Panier</h2>
<table class="table table-striped table-hover">
	<thead class="table-bordered">
		<th> Qt </th>
		<th> Libelé </th>
		<th class="hidden">Description</th>
		<th class="hidden">Image</th>
		<th> Prix </th>
		<th>Action</th>
	</thead>
	<%= render(cart.line_items) %>
	<tr class="total_line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
	</tr>
</table>
<%= button_to "#{t :checkout}", new_order_path, class: "btn btn-mini", method: :get %>
<%= button_to "#{t :empty}", cart, class: "btn btn-mini", method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>
</div>
 <%=t :cart%> <span id="cart_count" class="hidden badge badge-inverse"> (<%= cart.line_items.count %>)</span>