$(document).ready(function() {
  
$('#current_item').css({'background-color':'#88ff88'}).animate({'background-color':'#114411'}, 1000);
 
$("#side #cart, #tab2").click(showcart());

$('#tab2, #cart').html("<%= j(render(@cart))%>");

//#side_cart

if ($('#cart tr, #tab2 tr').length == 1) {
	 // Hide the cart
	 $('#cart').hide('blind', 1000); 
	 $('#cart #remove_one_item').remove();
}

 
$("#side #cart, #tab2").click(showcart());

function showcart() {

 if ($('#tab2_cart > .active')) {
		// code to be executed if condition is true
		$("#tab2").children().removeClass("hidden");
		$("#tab2 table th").removeClass("hidden");
		$("#tab2 table").addClass("table-bordered");
		$("#page_cart").children().removeClass("hidden");
$("#tab2 table tr td ").removeClass("hidden");
$("#tab2 table").addClass("table-hover table");
$("#tab2 table tr.total_line").addClass("info");
$("#tab2").show();
$("#page_cart").show();

	} else {
		// code to be executed if condition is false
		$("#tab2").hide();
		$("#page_cart").hide();
		$("#page_cart").addClass("hidden");
		$("#tab2").children().addClass("hidden");
		$("#tab2").addClass("hidden");
		$("#tab2 table").removeClass("table-hover table");
		$("#tab2 table tr.total_line").removeClass("info");
	}


$("#cart").show();

}

$('#flash_message').hide();




});