<% unless cart.line_items.empty? %>
<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<% end %>
 <h2>Your Cart</h2>
<table>
	<%= render(@cart.line_items) %>
	<tr class="total_line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(@cart.total_price, unit: "€") %></td>
	</tr>
</table>
<%= button_to 'Empty cart', @cart, class: "btn btn-mini", method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>