<li>
	<span class="content"><%= wrap micropost.content %></span>
	<span class="timestamp"> <%= "#{t :posted} #{time_ago_in_words(micropost.created_at)} #{t :ago}..."%></span>
	<% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "#{t :delete_confirmation}" },
                                     title: micropost.content %>
  <% end %>
</li>