"Microposts_Count":"<%= @user.microposts.count %>"
		<% if @user.microposts.any? %> 
		"Microposts":
			{<% @user.microposts.each do |micropost| %>
				
				post":
					{
						"content":"<%= micropost.content %>"
						"created_at":"<%= micropost.created_at %>"
						"created_at_in_words":"<%= "#{t :posted} #{time_ago_in_words(micropost.created_at)} #{t :ago}..."%>"
					}
				
				<%end%>
			
			}
		<%end%>

