<h1>Chargement de Fichiers</h1>

<%= form_tag('/uploadFile', :multipart => true) %>
<p>
	<label for="upload_file">Choisir un fichier</label>
	<%= file_field :upload, 'datafile' %>
</p>
<%= submit_tag "Charger", :class=>"btn btn-small" %>


