<h2>Détails du Fichier</h2>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<th>Nom</th>
		<th>type</th>
		<th>Chemin simple</th>
		<th>Chemin Absolut</th>
	</thead>
	<tbody>
		<tr>
			<td><%= @laodedFile.name %></td>
			<td>/<%= @laodedFile.file_type %></td>
			<td><%= @laodedFile.path.gsub(/app\/assets\/images/, '')%></td>
			<td><%= @laodedFile.path %></td>
		</tr>
	</tbody>
</table>