<ul class="thumbnails">
  <li class="span8">
    <div class="thumbnail">
      <img data-src="holder.js/600x400" alt="">
      <%= image_tag(@file_url)%>
      <p>Aperçu du l'image</p>
    </div>
  </li>
</ul>