<!doctype html>
<html ng-app>
	<head>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="todo.js"></script>
		<link rel="stylesheet" href="todo.css"> -->
	</head>
	<body>

		<div class="tabbable">
			<!-- Only required for left/right tabs -->
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab1" data-toggle="tab">Section 1</a>
				</li>
				<li>
					<a href="#tab2" data-toggle="tab">Section 2</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<p>
						I'm in Section 1.
					</p>

					<div>
						<label>Name:</label>
						<input type="text" ng-model="yourName" placeholder="Enter a name here">
						<hr>
						<h1>Hello {{yourName}}!</h1>
					</div>

				</div>
				<div class="tab-pane" id="tab2">
					<p>
						Howdy, I'm in Section 2.
					</p>

					<div ng-controller="TodoCtrl">
						<h2>Todo {{totalTodos()}}</h2>

						<span>{{remaining()}} of {{todos.length}} remaining</span>
						[ <a href="" ng-click="archive()">archive</a> ]
						<ul class="unstyled">
							<li ng-repeat="todo in todos">
								<input type="checkbox" ng-model="todo.done">
								<span class="done-{{todo.done}}">{{todo.text}}</span>
							</li>
						</ul>
						<form ng-submit="addTodo()">
							<input type="text" ng-model="todoText"  size="30"
							placeholder="add new todo here">
							<input class="btn-primary" type="submit" value="add">
						</form>
					</div>

				</div>
			</div>
		</div>

	</body>
</html>

