/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require_tree .
 */

body {
	padding-bottom: 40px;
	padding-top: 60px;
}

.sidebar-nav-fixed {
	padding: 9px 0;
	/*position: fixed;*/
	left: 10px;
	top: 8em;
/*	min-width:15em;
	width: 21em;*/
}

.row-fluid > .span-fixed-sidebar {
	margin-left: 18em;

}

#langauge_id{
	padding: 10px 10px;
	/*position: fixed;*/
	right: 10px;
	top:10px;
}
