// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 
// .field_with_errors {
  // @extend .control-group;
  // @extend .error;
// }


/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 */

#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;

  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #141;

  #main {
  //  margin-left: 17em;
   // padding: 1em;
    background: white;
  }

//#START:side
  #side {
    float: left;
    padding: 1em 2em;
    //width: 13em;
    background: #141;

/* START_HIGHLIGHT */
    form, div {
      display: inline;
    }  
 
    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color:     #595;

      table {
        border-top:    1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }
    }

/* END_HIGHLIGHT */
    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #bfb;
          font-size: small;
        }
      }
    }
  }
//#END:side
}

//#START:form
.depot_form {
   background: #efe;
  fieldset {
   // background: #efe;
    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
     padding: 0.1em ;
      font-size: 1.2em;
    }
  }
  form {
    label {
     // width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }
    br {
      display: none
    }
  }
}
//#END:form

.form_style{
  input[type="text"],input[type="password"], input[type="email"] {
   height: 1em;
   font-size: 1em;
   line-height: 1em;
}
  select{
    height: 1.6em;
   font-size: 1em;
   line-height: 1.5em;
  }
}
////////////////////////
fieldset {
    border: 1px solid #DDD;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

.admin_form{
   background: #fff;
    fieldset {
    background: #efe;
    }
}
/////////////////Langauge//////////////////
.locale {
float: right;
margin: -0.25em 0.1em;
select{
    height: 1.5em;
    font-size: 0.3em;
   line-height: 1.4em;
  }
}
