/* Bootstrap variables */

$navbarHeight: 20px !default;

$mynavbarHeight: 3em !default;

$navbarInverseBackground: #000066   !default;

$gridColumnWidth1200: 60px;

$grayLight:#999;
$gray: #555;
$grayDarker: #222;
$grayLighter:  #eee;
$blue: #049cdb;

 @import "bootstrap";
@import "bootstrap-responsive";


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}


body {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 80%;
  .barner{
 background-color: #E3E3E3;
}
   /*background-color: #E3E3E3;*/
}

/* Remove top padding when top navbar goes static in narrow viewports */
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
#main{
  margin-top:10px;
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 1em;
  }
}


a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 10em;
	text-align: center;
	color: #fff; 
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding: 2em;
}

button .search-query{
	&:hover {
    color: #006400;
  }
	
}
/* Navigation */

nav .mydropdown {
  white-space: nowrap;
}
nav img{
  white-space: nowrap;
  float: right;
}
.mydropdown ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav .mydropdown > ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #09c;
}

.navbar-search{
   margin-top: -0px;
}

.myNavbar-search{
      padding-top: -5px;
   }
   
.myNavbar{
   width: auto;
  -webkit-border-radius: 0; 
  -moz-border-radius: 0; 
  border-radius: 0;
  height: $mynavbarHeight;  
  padding-top: 0.5em;
  padding-bottom: 1em;
  ul li{
     padding-top: 1em;
  }
} 

nav ul li a:hover {
  text-decoration: underline;
}

	
.container .navbar .container {
  width: auto;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
  
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
#mybrand{
  color: white;
}

/* footer */

footer {
  margin-top: 1em;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  .small-left { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }  
}

.footer-foot{
	 margin-top: 1em;
	 background-color: $grayMediumLight;
	 text-align: center;
	 img {
	   width: 150px;
	 }
	
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}