<div class="depot_form form_style">
	<div class="row">
		<div class="span6 offset3">
			<h4>Formulaire de modification | Categorie!</h4>
			<fieldset>
				<legend></legend>
				<%= render 'form' %>
			</fieldset>

			<%= link_to 'Show', @category %> |
			<%= link_to 'Back', categories_path %>
		</div>
	</div>
</div>

