<h1>Listing des categories</h1>

<table class="table table-striped table-bordered table-hover">
	<%= link_to 'Nouvelle Catégorie', new_category_path %>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @categories.each do |category| %>
		<tr>
			<td><%= link_to category.name, category %></td>
			<td><%= category.description %></td>
			<td><%= link_to 'Voir', category %> |
			<%= link_to 'Modifier', edit_category_path(category) %>|
			<% if current_user.admin? %><%= link_to 'Supprimer', category, method: :delete, data: { confirm: 'Are you sure?' } %> <%end%></td>
		</tr>

		<% end %>

	</tbody>
	
</table>

<br>
