<%= form_for(@product) do |f| %>

<p>
	<%= render 'shared/error_messages', object: f.object %>
</p>

<div class="field">
	<%= f.label :title %>
	<br>
	<%= f.text_field :title %>
</div>
<div class="field">
	<%= f.label :description %>
	<br>
	<%= f.text_area :description, rows: 6 %>
</div>
<div class="field">
	<%= f.label :image_url %>
	<br>
	<%= f.text_field :image_url %>
	<%= link_to "charger une image", data_file_url %>
</div>

<div class="form_style">
	<p>
		<%= form_tag('/uploadFile', :multipart => true) %>
		<label for="upload_file">Charger un fichier</label>
		<%= file_field :upload, 'datafile' %>
		<%= submit_tag "Charger", :class=>"btn btn-small", :name => "upload" %>
	</p>

</div>

<div class="field">
	<%= f.label :price %>
	<br>
	<%= f.text_field :price %>
</div>
<div class="field">
	<%= f.label :category_id, "Catégorie" %>
	<br>
	<%= collection_select(:product, :category_id, Category.all,:id, :name,  prompt: 'Choisir une catégorie') %>

</div>

<div class="field">
	<%= f.label :status, "Statut" %>
	<br>
	<%= f.select :status, Product::PRODUCT_STATUS,
	prompt: 'Indiquer le statut du produit' %>
</div>

<button type="submit" class="btn btn-small">
	valider
	</button>
<% end %>
