<h1>Listing des Produits</h1>

<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>Titre</th>
			<th>Description</th>
			<th>Image url</th>
			<th>Price</th>
			<th>Catégorie</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<%= render @products unless @products.nil? %>
	</tbody>

</table>
<div class="span8 offset2">
	<%= will_paginate @products unless @products.nil? %>
	<%= link_to 'Nouveau Product', new_product_path %>
</div>
<br>
