<tr>
	<td rowspan="2"> <%= image_tag(product.image_url)%> </td>
</tr>
<tr>

	<td><h4><%= product.title %></h4>
	<p>
		<%=product.description%>
	</p></td>

	<td>
	<div class="price_line entry">

		<span class="price"><%= number_to_currency(product.price, :unit => '€') %></span>
		<% if product.status == "Indisponible" %>

		<a href="#" data-toggle="tooltip" title="Produit indisponible"><%= button_to "#{t :add_item}", '#indisponible', remote: true, :class => "btn btn-mini btn_add  disabled" %></a>

		<% else %>
		<%= button_to "#{t :add_item}", line_items_path(product_id: product), remote: true, :class => "btn btn-mini btn_add" %>
		<% end %>
	</div></td>
	<td class="hidden-phone"><span class="label label-inverse"><%= product.category.name%></span></td>
	<td><span class="label pull-right label-<%= product.status_class %>"><%= product.status%></span> <% if product.status == "Solde" %>
	<%= image_tag("soldes.jpg") %> </td>
	<% end %>

</tr>
