<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		&times;
	</button>
	<h3>Détails du produit</h3>
</div>

<% unless @product.nil? %>
<table class="table table-striped table-bordered table-hover">

	<thead>
		<th> Image </th>
		<th> Description </th>
		<th> Prix </th>
		<th> Catégorie </th>
		<th> Actuellement </th>

	</thead>
	<%if signed_in? %>
	<tfoot>

		<td colspan="4">
		<div class="offset3">
			
			<%= link_to "#{t :edit}", edit_product_path(@product) %> |
			<%= link_to  "#{t :back}" , products_path %>
			
		</div></td>

	</tfoot>
	<%end%>
<tbody>
	
	<tr>
		<td rowspan="2"> <%= image_tag(@product.image_url)%> </td>
	</tr>
	<tr>

		<td><h4><%= @product.title %></h4>
		<p>
			<%= @product.description %>
		</p></td>

		<td>
		<div class="price_line entry">

			<span class="price"><%= number_to_currency(@product.price, :unit => '€') %></span>
			<% if @product.status == "Indisponible" %>

			<a href="#" data-toggle="tooltip" title="Produit indisponible"><%= button_to "#{t :add_item}", '#indisponible', remote: true, :class => "btn btn-mini btn_add  disabled" %></a>

			<% else %>
			<%= button_to "#{t :add_item}", line_items_path(product_id: @product), remote: true, :class => "btn btn-mini btn_add" %>
			<% end %>
		</div></td>
		<td><span class="label label-inverse"><%= @product.category.name%></span></td>
		<td><span class="label pull-right label-<%= @product.status_class %>"><%= @product.status%></span> <% if @product.status == "Solde" %>
		<%= image_tag("soldes.jpg") %> </td>
		<% end %>

	</tr>
	</tbody>

</table>

<%end%>

<footer>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">
			Fermer
		</button>
	</div>
</footer>
