<div class="depot_form form_style">
	<div class="row">
		<div class="span9 offset2">
			<h4>Formulaire de modification | Produit!</h4>
			<fieldset>
				<legend></legend>
				<%= render 'form' %>
			</fieldset>

			<%= link_to "#{t :show}", @product %> |
			<%= link_to "#{t :back}", products_path %>
		</div>
	</div>
</div>

