<h1>Listing des Produits</h1>

<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>Titre</th>
			<th>Description</th>
			<th>Image url</th>
			<th>Price</th>
			<th>Catégorie</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tfoot>
		<td>Titre</td>
			<td>Description</td>
			<td>Image url</td>
			<td>Price</td>
			<td>Catégorie</td>
			<td>Actions</td>
	</tfoot>

	<tbody>
		<% @products.each do |product| %>
		<tr>
			<td><%= link_to product.title, product_path(product) %></td>
			<td><%= product.description %></td>
			<td><%= link_to product.image_url, file_path(:file => product.image_url) %></td>
			<td><%= product.price %></td>
			<td><%= link_to product.category.name, category_path(product.category) %></td>
			<td><%= link_to 'Voir', product %> | <%= link_to "Achat?", who_bought_product_path(product.id) %> | <%= link_to 'Modifier', edit_product_path(product) %> | <%= link_to 'Supprimer', product, method: :delete, data: { confirm: 'êtes-vous sûr?' } %></td>

		</tr>
		<% end %>
	</tbody>

</table>
<div class="span8 offset2">
	<%= will_paginate @products %>
	<%= link_to 'Nouveau Product', new_product_path %>
</div>
<br>
