<div class="depot_form form_style admin_form">
	<div class="row">
		<div class="span6 offset3">
			<h4> Ajouter un Produit!</h4>
			<fieldset>
			<legend>
			</legend>
			<%= render 'form' %>
		</fieldset>
		<%= link_to "#{t :back}", products_path %>
		</div>
	</div>
</div>

