<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%=  image_tag(@product.image_url)  %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <strong>Catégorie</strong>
  <%= @product.category.name %>
</p>

<%if signed_in? %>
<%= link_to "#{t :edit}", edit_product_path(@product) %> |
<%= link_to  "#{t :back}" , products_path %>
<%end%>
