<% if line_item == @current_item %>
<tr id="current_item">
	<% else %>
<tr>
	<% end %>
	<td><%= line_item.quantity %>&times;</td>
	<td><%= line_item.product.title %></td>
	<td class="hidden"><%= truncate(line_item.product.description, length: 150) %></td>
	<td class="hidden"><%= image_tag(line_item.product.image_url) %></td>
	<td class="item_price"><%= number_to_currency(line_item.total_price, :unit =>"€ ") %></td>
	<td><%= button_to 'v', decrement_line_item_path(line_item),method: :put, :class => "btn btn-mini", remote: true, title: 'remove one item' %></td>
</tr>
