
$('#notice').hide();
$('#flash_message').hide();
$('#flash_message, .alert').hide();


//#START_HIGHLIGHT
if ($('#cart tr').length == 1) { $('#cart').show('blind', 1000); }

//#END_HIGHLIGHT
$('#cart, #tab2, #side_cart').html("<%=j render @cart %>");

$("#side_cart #cart_count").removeClass("hidden");
$("#side_cart #cart_affichage").addClass("hidden");

$("#tab2 #cart_count, #cart #cart_count").addClass("hidden");

//on déverou le side bar sur l onglet Panier



//#side_cart
$('#current_item').css({'background-color':'#88ff88'}).
  animate({'background-color':'#114411'}, 1000);
  
  $("#side #cart, #tab2").click(showcart());

function showcart() {

 if ($('#tab2.active')) {
		// code to be executed if condition is true
		$("#tab2").children().removeClass("hidden");
		$("#tab2 table th").removeClass("hidden");
		$("#tab2 table").addClass("table-bordered");
		$("#page_cart").children().removeClass("hidden");
$("#tab2 table tr td ").removeClass("hidden");
$("#tab2 table").addClass("table-hover table");
$("#tab2 table tr.total_line").addClass("info");
$("#tab2").show();
$("#page_cart").show();

	} else {
		// code to be executed if condition is false
		$("#tab2").hide();
		$("#page_cart").hide();
		$("#page_cart").addClass("hidden");
		$("#tab2").children().addClass("hidden");
		$("#tab2").addClass("hidden");
		$("#tab2 table").removeClass("table-hover table");
		$("#tab2 table tr.total_line").removeClass("info");
	}


$("#cart").show();
}
