<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @line_item.product_id %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart_id %>
</p>

<% if signed_in? %>
<%= link_to "#{t :edit}", edit_line_item_path(@line_item) %> |
<%= link_to "#{t :back}", line_items_path %>
<%end%>
