<h1>myShop Catalog</h1>

<table class="table table-striped table-bordered table-hover">

	<thead>

	</thead>
	<tfoot>

		<td colspan="4">
		<p>

			<div  class="offset3 hidden-desktop">
				<%= will_paginate @products, :page_links => false  %>
			</div>
		</p>
		<p>

			<div class="offset2 hidden-phone" >
				<%= will_paginate @products %>
			</div>
		</p></td>

	</tfoot>

	<% @products.each do |product| %>

	<tr>
		<td class="hidden-desktop">
		<p>
			<%= link_to product_path(product),
			data: {toggle: 'modal', remote: true, target: "#show_product"}  do %> <h4><%= product.title %></h4> <%end%>
		</p> <%= link_to product_path(product),
		data: {toggle: 'modal', remote: true, target: "#show_product"}  do %>
		<%= image_tag(product.image_url) %>
		<%end%> </td>

		<td class="hidden-phone"> <%= link_to product_path(product),
		data: {toggle: 'modal', remote: true, target: "#show_product"}  do %>
		<%= image_tag(product.image_url) %>
		<%end%> </td>

		<td  class="hidden-phone"> <%= link_to product_path(product),
		data: {toggle: 'modal', remote: true, target: "#show_product"}  do %> <h4><%= product.title %></h4> <%end%>
		<p>
			<%= word_wrap(truncate(sanitize(product.description), :length => 200)) %>
		</p></td>

		<td>
		<div class="price_line entry">

			<span class="price"><%= number_to_currency(product.price, :unit => '€') %></span>
			<% if product.status == "Indisponible" %>

			<a href="#" data-toggle="tooltip" title="Produit indisponible"><%= button_to "#{t :add_item}", '#indisponible', remote: true, :class => "btn btn-mini btn_add  disabled" %></a>

			<% else %>
			<%= button_to "#{t :add_item}", line_items_path(product_id: product), remote: true, :class => "btn btn-mini btn_add" %>
			<% end %>
		</div></td>
		<td><span class="label  pull-right  label-<%= product.status_class %>"><%= product.status%></span> <% if product.status == "Solde" %>
		<%= image_tag("soldes.jpg") %>
		<%end%> </td>

	</tr>

	<% end %>
</table>

<!-- Modal -->

<div id="show_product" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">Modal header</h3>
	</div>
	<div class="modal-body" <body id="index.html" onload="">
	<% render 'products/show' %>
	</body>
	</div>
	<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">
		Close
	</button>
	<button class="btn btn-primary">
		Save changes
	</button>
</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("a").tooltip({
			'selector' : '',
			'placement' : 'top'
		});
		//console.log("jimmy");
	});
</script>
