<div id="banner">

	<div id="main" role="main" class="<%= controller.controller_name %>">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="span12 title">

						<%= form_tag store_path,:method => 'get', class: 'locale', :id=>"langauge_id" do %>
						<%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()', :class => "btn-mini"%>
						<%= submit_tag 'submit' %>
						<%= javascript_tag "$('.locale input').hide()" %> <% end %>

						<%= image_tag("logo.png") %>
						<%= @page_title || "Shop" %>

						<%= render "layouts/top_search"%>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div id="body_head_navbar2">
	<%=
 # render 'layouts/body_head_navbar2'
%>

</div>