<footer class="footer">
	<small class ="small-left"> &copy; <a href="#">Rails Project</a> by ismo1 </small>
	<small>
		<nav class="round">
			<ul>

				<li>
					<%= link_to about_path do %>
					<%= t :about %>
					<!-- <i class="icon-bookmark"></i> À Propos -->
					<% end %>
				</li>

				<li>
					<%= link_to contact_path do %>
					Contact
					<!-- <i class="icon-envelope"></i> Contact -->
					<% end %>
				</li>

				<li>
					<a href="#/news"><%= t :news %></a>
				</li>
			</ul>
		</nav> </small>
		
		 <hr>
</footer>