<header >

	<div class="navbar navbar-fixed-top navbar-inverse">
		<!-- Barre de navigation -->
		<nav class="navbar-inner">
			<!-- Bouton apparaissant sur les résolutions mobiles afin de faire apparaître le menu de navigation -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<!-- Structure du menu -->
			<div class="container">
				<%= render 'layouts/navigation' %>
				<!-- Bar de recherche -->
				<%=
 #render 'layouts/search' if @serach_comp == true
%>
			</div>
		</nav>
	</div>

</header>