<div class="hidden-phone">
	<div class="navbar">
		<div class="navbar-inner myNavbar">
			<div class="container">

				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
				<!-- <a class="brand" href="#">Project Name</a> -->
			
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active">
							<a href="#"><i class="icon-home"></i> @Shop</a>
						</li>
						<li>
							<a href="#">News</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
						<li class="dropdown mydropdown">
							<%= link_to '#', :class =>'dropdown-toggle', "data-toggle" => 'dropdown' do %>
							<i class="icon-question-sign icon-white"></i> <%= t :help %> <b class="caret"></b>
							<% end %>

							<ul class="dropdown-menu">

								<%= link_to logo, root_path %>

								<li>
									<%= link_to "#{t :help}" , help_path %>
								</li>

								<li>
									<a href="#"><%= t :signup %></a>
								</li>
								<li>
									<a href="#">FAQ</a>
								</li>

								<li class="divider"></li>
								<li class="nav-header">
									<%= t :Particular %>
								</li>

								<li>
									<a href="#">Location</a>
								</li>
								<li class="divider"></li>
								<li class="nav-header">
									<%= t :professional %>
								</li>
								<li>
									<a href="#"><%= t :join_us %></a>
								</li>
								<li>
									<a href="#">Associations</a>
								</li>
							</ul>

						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<%= link_to "Action" , "#" %>
								</li>
								<li>
									<%= link_to "Another action" , "#" %>
								</li>
								<li>
									<%= link_to "Something else here" , "#" %>
								</li>
								<li class="divider"></li>
								<li class="nav-header">
									Nav header
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
								<li>
									<a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
					</ul>
					<div>
						<%= render 'layouts/top_search' %>
					</div>
				</div><!-- /.nav-collapse -->
			</div><!-- /.container -->
		</div><!-- /.navbar-inner -->
	</div><!-- /.navbar -->
