<div class="container" id="new">
	<div class="row-fluid">
		<div class="span4 left-colonm">
			<h2>A décrouvrir</h2>
			<p>

				<a class="btn" href="<%= store_path %>"><%= image_tag "voyage.png"  %> &raquo;</a>
			</p>

			<div class="btn-group">
				<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown" title="Actions">
					<i class="icon-cog"></i>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu btn-mini ">
					<li class="nav-header">
						Configs
					</li>
					<li class="divider"></li>
					<li class="dropdown-submenu">
						<a tabindex="-1" href="#">Langues</a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to "Français", url_for(:locale => "fr") %>
								<!-- redirect_to :back -->
							</li>
							<li>
								<%= link_to "English", url_for(:locale => "en") %>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
					<li class="nav-header">
						Actions
					</li>
					<li>
						Autres
					</li>
				</ul>
			</div>
		</div>
		<div class="span4 midle-colonm">
			<h2> Prochainement</h2>
			<p>
				<a class="btn" href="<%= store_path %>"><%= image_tag "cuisine.png"  %> &raquo;</a>
			</p>
			
		</div>
		<div class="span4 rigth-colonm">
			<h2 class="info">En ligne</h2>
			<p>
				<a class="btn" href="<%= store_path %>"><%= image_tag "phone.png"  %> &raquo;</a>
			</p>
			

		</div>
	</div>
</div>