<div>
	<!-- ***************************  carousel  *********************-->
	<!-- Première ligne de notre grille -->

	<div id="myCarousel" class="carousel slide" class="round">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item">
				<img src="" alt="">
				<div class="hero-unit">
					<h1>myShop Web-App</h1>
					<p>
						Nous Rejoindre
					</p>
					<p>
							<%= link_to "#{t :signup}", signup_path, :class => "signup_button round btn-large btn-success"  %>
					</p>
					
				</div>
			</div>

			<div class="item">
				<img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
				<div class="carousel-caption">
					<h4>1er slide</h4>
					<p>
						description de l'image
					</p>
				</div>
			</div>
			<div class="item">
				<img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="">
				<div class="carousel-caption">
					<h4>2eme slide</h4>
					<p>
						description de l'image
					</p>
				</div>
			</div>
			<div class="item">
				<img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg" alt="">
				<div class="carousel-caption">
					<h4>3eme slide</h4>
					<p>
						description de l'image
					</p>
				</div>
			</div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

		<!-- *************************** fin carousel  *********************-->
	</div>
</div>
