<form class="form-inline pull-right s" >
	<input type="text" class="input-small" placeholder="Email">
	<input type="password" class="input-small" placeholder="Password">
	
	<label class="checkbox rember_me" >
		<input type="checkbox">
		Se souvenir </label>
	<button type="submit" class="btn btn-primary btn-mini">
		conexion
	</button>
</form>