<div class="footer-foot">
	<%= render 'layouts/body_footer_foot' %>
</div>

<div class="container">
	<!-- Footer -->
	<%= render 'layouts/body_footer'%>
	<!-- fin footer -->

	<%= debug(params) if Rails.env.development? %>

</div>