<div id="main" role="main">
	<div class="container">
		<div class="content">
			<div class="row">
				<div class="span12">
					<section class="round">
						<%= render 'layouts/messages' %>
						<%= yield %>

					</section>
				</div>
			</div>
		</div>

	</div>
	<%= render 'layouts/main_footer' %>
</div>
