<form class="form-search navbar-search pull-right" action="#">
  <div class="input-append">
    <input type="text" class="span2 search-query" placeholder="<%= t :search_holder %>">
    <button type="submit" class="btn search-query"><i class="icon-search"></i></button>
  </div>
</form>

