<!-- <div class="container-fluid">
<div class="row-fluid row">
<div class="span3"> -->
<div class="well sidebar-nav-fixed">

	<div class="accordion" id="accordionSideBar">

		<% if signed_in? %>
		<div class="accordion-group">
			<div class="accordion-heading">

				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSideBar" href="#collapseMenuAdmin"> Admin</a>

			</div>
			<div id="collapseMenuAdmin" class="accordion-body collapse">
				<div class="accordion-inner">
					<ul class="nav nav-list">

						<li>
							<%= link_to "Produit", products_path %>
						</li>

						<li>

							<%= link_to "Catégorie", categories_path %>
						</li>

						<li>

							<%= link_to "Commande", orders_path %>
						</li>
						<% if current_user.admin?%>
						<li>

							<%= link_to "#{t :users}", users_path  %>
						</li>
						<% end%>
					</ul>
				</div>
			</div>
		</div>
		<%end%>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSideBar" href="#collapseMenu">Menu </a>
			</div>
			<!-- on rajoute la classe in pour que le menu se déroule c'est l'quivalent d'active-->
			<div id="collapseMenu" class="accordion-body collapse">
				<div class="accordion-inner">
					<ul class="nav nav-list">

						<li>
							<%= link_to "#{t :home}", home_path %>
						</li>

						<li>
							<%= link_to "#{t :store_menu}", store_path %>
						</li>

						<li>

							<%= link_to "#{t :about}", about_path %>
						</li>

						<li>

							<%= link_to "#{t :help}", help_path %>
						</li>
						<li>

							<%= link_to "#{t :news}", "#new" %>
						</li>
						<li>
							<%= link_to "Contact", contact_path %>
						</li>

					</ul>
				</div>
			</div>
		</div>

		<div class="accordion-group">
			<div class="accordion-heading">

				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSideBar" href="#collapseOne">
				<div id="side_cart">
					<% if @cart_count  %>
					<%= @cart_count %>
					<%else%>
					<%= t :cart %> <i class="icon-shopping-cart"></i>
					<% end%>
				</div></a>

			</div>
			<div id="collapseOne" class="accordion-body collapse">
				<div class="accordion-inner">

					<% if @cart %>
					<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
					<%= render @cart %>
					<% end %>
					<% end %>
				</div>
			</div>
		</div>

		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSideBar" href="#collapseTwo"> <%= t :search_holder %> </a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">
					<ul class="nav nav-list">

						<li class="nav-header">
							<%= t :sort_by %>
						</li>
						<li class="active">

							<%= form_tag search_path, :method => 'get', :id => "side_search", :class =>"navbar-form pull-right form_style" do %>

							<p>
								<%= label_tag :keywords, "Article" %>
								<%= text_field_tag :keywords, params[:keywords], :placeholder =>"#{t :search_holder}" %>

							</p>
							<p>
								<%= label_tag :category_id, "Catégorie" %>
								<%= collection_select(:product, :category_id, Category.all,:id, :name , :include_blank => true , prompt: 'Choisir une catégorie')%>

								<!-- options_for_select -->
							</p>
							<br/>

							<div class="field">
								<%= check_box_tag :status1, "Promotion", params[:status1] %>
								<%= label_tag :status1, "Promotion" %>
							</div>
							<div class="field">
								<%= check_box_tag :status2, "Solde", params[:status2] %>
								<%= label_tag :status2, "Solde" %>
							</div>

							<div class="field">
								<%= check_box_tag :status3, "Déstockage", params[:status3] %>
								<%= label_tag :status3, "Déstockage" %>
							</div>
							
							<div class="field">
								<div class="input-prepend input-append">
									<span class="add-on">€ >=</span>
									<%= number_field_tag :minimum_price, params[:minimum_price], :id=>"appendedPrependedInput1",  :class => "input-mini"%>
									<span class="add-on">.00</span>
								</div>
							</div>
							<div class="field">
								<div class="input-prepend input-append">
									<span class="add-on">€ <=</span>
									<%= number_field_tag :maximum_price, params[:maximum_price], :id=>"appendedPrependedInput2", :class => "input-mini" %>
									<span class="add-on">.00</span>
								</div>
							</div>
							<br />
							<div class="input-append">
								<button type="submit" class="btn search-query">
									OK
									<i class="icon-search"></i>
								</button>

							</div>
							<%end%>

						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSideBar" href="#collapseThree"> A décourvrir </a>
			</div>
			<div id="collapseThree" class="accordion-body collapse">
				<div class="accordion-inner">
					<ul class="nav nav-list">

						<li class="nav-header">
							<%= t :opportunity %>
						</li>
						<li class="active">

						</li>
						<li>
							<a href="#">Link</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div>
		<!-- ***************************  carousel  *********************-->
		<!-- Première ligne de notre grille -->

		<div id="myCarousel" class="carousel slide" class="round hidden-phone">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<img src="" alt="">
					<div class="hero-unit">
						<h3>myShop</h>
						<p>
							<%= link_to "#{t :join_us}", signup_path %>
						</p> <%= %>
					</div>
				</div>

				<div class="item">
					<%= link_to image_tag("promo1.png"), "#"%>

					<div class="carousel-caption">
						<h4>Spécial Promo</h4>
						<p>
							Le catalogue désormais en ligne
						</p>
					</div>
				</div>
				<div class="item">
					<img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="">
					<div class="carousel-caption">
						<h4>A venir!</h4>

					</div>
				</div>
				<div class="item">
					<%= image_tag "3453.jpg"%>
					<div class="carousel-caption">
						<p>
							Remise de 5%
						</p>
					</div>
				</div>
			</div>
			<!-- Carousel nav -->
			<!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->

			<!-- *************************** fin carousel  *********************-->
		</div>
	</div>

	<!-- </div> --><!--/.well -->
	<!-- </div> --><!--/span-->

	<!-- </div> --><!--/row-->

</div><!--/.fluid-container-->

<script>
	$('.carousel').carousel({
		interval : 5000
	})
</script>
