<%= form_tag new_search_path, :method => 'get', :id => "side_search", :class =>"navbar-form pull-right form_style" do %>
 
 <%= render "layouts/messages" %>

  <div class="field">
    <%= label_tag :keywords %><br>
    <%= text_field_tag :keywords %>
  </div>
  <div class="field">
    <%= label_tag :category_id %><br>
    <%= number_field_tag :category_id %>
  </div>
  <div class="field">
    <%= label_tag :user_id %><br>
    <%= number_field_tag :user_id %>
  </div>
  <div class="field">
    <%= label_tag :minimum_price %><br>
    <%= text_field_tag :minimum_price %>
  </div>
  <div class="field">
    <%= label_tag :maximum_price %><br>
    <%= text_field_tag :maximum_price %>
  </div>
  <div class="field">
    <%= label_tag :status %><br>
    <%= text_field_tag :status %>
  </div>
  <div class="field">
    <%= label_tag :description %><br>
    <%= text_field_tag :description %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
