<!-- ***************************  Banière  *********************-->

<%=
 render 'layouts/body_store_head_barner'
%>
<!-- ***************************  end Banère  *********************-->

<div id="main" role="main" class="<%= controller.controller_name %>">
	<div class="container-fluid">
		<div class="content">
			<div class="row-fluid">
				<div class="span12">
					<section class="round">
						<!-- <div id="columns"> -->
						<div id="">
							<div id="side" class="span3">
								<%= render "layouts/side_bar"%>
							</div>
							<div class="span9">

								<% if controller.controller_name == "store" %>
								<div class="tabbable tabs-right">
									<ul class="nav nav-tabs">
										<li class="active">
											<a href="#tab1" data-toggle="tab">Store</a>
										</li>
										<li id="tab2_cart">
											<%= link_to cart_path(@cart),
											data: {toggle: 'tab', remote: true, target: "#tab2"}, :id =>"tab2_link"  do %>
											<%= t :cart %>
											<%end%>

										</li>
										<li>

											<%= link_to "#{t :checkout}", new_order_path, "data-toggle"=>"tab", method: :get %>

										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active" id="tab1">
											<%= render 'layouts/messages' %>
											<%= yield %>
										</div>
										<div class="tab-pane" id="tab2">
											<div class="hidden page_cart">
												<% if @cart %>
												<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
												<%= render @cart %>
												<% end %>

												<% else %>
												<h1>Votre Caddie est Vide</h1>

												<% end %>

											</div>

										</div>
										<div class="tab-pane" id="tab3">
											<% #if @order
%>
											<%= #render @order
%>
											<% #end
%>
										</div>

									</div>
								</div>
								<%else%>
								<%= render 'layouts/messages' %>
								<%= yield %>
								<%end%>
							</div>
						</div>
					</section>

				</div>
			</div>
		</div>
	</div>
	<%= render 'layouts/main_footer' %>

</div>
