<!-- <form class="navbar-form pull-right" action="#">
<div class="input-append">
<input type="text" class="span4" placeholder="<%= t :search_holder %>">
<button type="submit" class="btn search-query">
<i class="icon-search"></i>
</button>
</div>
</form> -->

<%= form_tag search_path, :method => 'get', :id => "top_search", :class =>"navbar-form pull-right" do %>
<div class="input-append">

	<%= text_field_tag :top_product,	params[:top_product], :class => "span4",
	placeholder: "#{t :search_holder}",
	:id => "autocomplete" %>

	<%= 
	#hidden_field_tag :product,	params[:product] 
	%>

	<button type="submit" class="btn search-query">
		<i class="icon-search"></i>
	</button>

</div>
<%end%>