<%= link_to 'Adoptes-1-Coloc', root_path, :class =>"brand", id: "mybrand" %>
<div class="nav-collapse collapse ">
	<ul class="nav pull-right" id="menu_id">


		<% if signed_in? %>
		
		<li>
			<%= link_to "#{t :users}", '#' %>
		</li>
		<li id="fat-menu" class="dropdown">
			<%= link_to '#', :class =>'dropdown-toggle', "data-toggle" => 'dropdown' do %>
			<%= t :account %> <b class="caret"></b>
			<% end %>
			<ul class="dropdown-menu">
				<li>
					<%= link_to current_user do %>
					<i class="icon-user"></i> <%= "#{t :profile}"%>
					<%end%>
				</li>
				<li>
					<%= link_to edit_user_path(current_user)  do %>
					<i class="icon-cog"></i> <%= "#{t :settings}"%>
					<%end%>
				</li>
				<li class="divider"></li>

				<li>
					<%= link_to signout_path, method: :delete do %>
					<i class="icon-off"></i> <%= "#{t :signout}"%>
					<%end%>
				</li>
			</ul>
		</li>
		<% else %>
		<li>
			<%= link_to signin_path do %>
			<i class="icon-user icon-white"></i> <%= t :signin %>
			<% end %>
		</li>
		<% end %>

	</ul>
</div>
