<!doctype html>
<html>
	<head>
		<%= render 'layouts/head' %>
	</head>

	<body>
		<!-- Head -->
		<%= render 'layouts/body_header' %>
		<!-- FIN Head -->
		<% store_layouts = %w(store line_items carts products orders categories)%>
		<% if store_layouts.include? controller.controller_name %>
		<%= render 'layouts/store' %>
		<% else %>
		<%= render 'layouts/not_store' %>
		<% end%>

	</body>

</html>